[submodule "lib/utility-lib"]
	path = lib/utility-lib
	url = git@gitlab.com:qleonardolp/utility-lib.git
	branch = legro-ic2d
[submodule "lib/hw-lib"]
	path = lib/hw-lib
	url = git@gitlab.com:qleonardolp/hw-lib.git
	branch = legro-ic2d
	